<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="utility/styles/style_sheet.css"/>
    <title>Sealand!</title>
</head>
<body>
    <!--Navigation-->
    <nav class="nav_bar_parent">
        <a href="../../index.html"><img src="" alt="home button"></a>
        <a href="../../about_me.html">About Me</a>
        <a href="../pages/blogs.html">Blogs</a>
        <a href="../pages/recommendations.html">Recommendations</a>
    </nav>
    <!--Main Content-->
    <h1>Nothing here yet, check back later!</h1>
    <!--Footer-->
    <footer class="footer_main_section">
        <div class="footer_section_one footer_subsection">
            <h4>Cool stuff here</h4>
            <h5>Links to other travel blogs</h5>
            <ul>
                <li><a href="https://viewfromthewing.com/" target="_blank">View From The Wing</a></li>
                <li><a href="https://www.wanderingearl.com/" target="_blank">Wandering Earl: A Life Of Travel</a></li>
                <li><a href="https://www.alexinwanderland.com/" target="_blank">Alex in WanderLand</a></li>
                <li><a href="https://www.legalnomads.com/" target="_blank">Legal Nomads</a></li>
                <li><a href="https://www.heynadine.com/" target="_blank">heynadine: Travel, Advice and Adventure</a></li>
                <li><a href="https://www.honeytrek.com/" target="_blank">HoneyTrek: The World's Longest HoneyMoon</a></li> 
            </ul>
        </div>
        <div class="footer_section_two footer_subsection">
        </div>
        <div class="footer_section_three footer_subection">
            <iframe src="https://docs.google.com/forms/d/e/1FAIpQLSf8DoRTbWF2bqJIEv9IfQmk3EG7b4dCqNR7YSrBlCcH-bzRUQ/viewform?embedded=true" width="100%" height="568px" frameborder="0" marginheight="0" marginwidth="0">Loading…</iframe>
        </div>
    </footer>
</body>
</html>