<!DOCTYPE html>
<div class="nav_bar_parent">
    <div class="nav_bar_section">
        <a href="index.html"><img src="" alt="home button"></a>
    </div>
    <div class="nav_bar_section">
    </div>
    <div class="nav_bar_section">
        <div>
            <a href="about_me.html">About Me</a>
        </div>
        <div>
            <a href="pages/blogs.html">Blogs</a>
        </div>
        <div>
            <a href="pages/recommendations.html">Recommendations</a>
        </div>    
    </div> 
</div>
